html {
    height: 100%;
    width: 100%;

    margin: auto;
}
body{
    background-color: #110d0d;
    margin: auto;
    height: 100%;
    /*font-family: 'Pacifico', cursive;*/
    font-weight: initial;
    color: oldlace;
    font-size: x-large;
    font-family: 'Mitr', sans-serif;

}

/**{*/
/*    border: 1px solid;*/
/*}*/

#Container{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}
#A {
    grid-row: 1;
    text-align: center;
    top: 3px;
    position: fixed;
    left: 0;
    width: 100%;
    font-size: xx-large;
    border-bottom: 1px solid;
    border-bottom-width: 5px;
    font-family: 'Pacifico', cursive;
}
/*#curs{*/
/*    font-family: 'Pacifico', cursive;*/
/*}*/
#B{
    grid-row: 2;
}

#C{
    grid-row: 3;
    margin: auto;
}
a{
    font-family: 'Pacifico', cursive;

}
footer {
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    /* background-color: red; */
    /* color: white; */
    text-align: center;
    border-bottom: 1px solid;
    border-bottom-width: 5px;
}


#linked {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    /* color: white; */
    /*text-align: center*/
    margin: auto;
    color: darkturquoise;
    font-family: 'Pacifico', cursive;
}
#contact{
    font-family: 'Pacifico', cursive;
}

#email{
    position: fixed;
    right: 0.5%;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    /* color: white; */
    text-align: end;
    color: darkturquoise;
    font-family: 'Pacifico', cursive;

}

/*p{*/
/*    text-align: right;*/
/*    font-size: xx-large;*/
/*    margin: 20px;*/
/*    position: relative;*/
/*}*/
/*p::after{*/
/*    content: "";*/
/*    height: 2px;*/
/*    width: 50%;*/
/*    background: #b84200;*/
/*    position: absolute;*/
/*    left: 49%;*/
/*    bottom:0;*/



/*}*/
#border-top{
    /*border-top: 1px solid;*/
    /*width: 39%;*/
    position: absolute;
    top: 50%;
    bottom: 0;
}

#resume{
    border-bottom: solid;
    width: fit-content;
    border-bottom-width: 2.5px;
    margin: 10px;
    position: relative;
    top: 50%

}

#resume-text{
    text-decoration: none;
    color: #b84200;
}

#wrapper{
    width: fit-content;
    margin: 10px;
    position: relative;
    top: -15%;
    left: 29%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-left: auto;
}

nav li {
    color: #fff;
    /*background: #262626;*/
    display: block;
    padding: 10px 25px;
    position: relative;
    text-decoration: none;
    transition-duration: 500ms ;
}
nav li a{
    color: inherit;

}

nav li:hover,
nav li:focus{
    background-color: #cc2a36;
    color: #fff;
    cursor: pointer
}

nav ul li ul {
    position: absolute;
    transition: background-color -0.5s ease-in;
    margin-top: 10px;
    left: 0;
    display: none;
}

nav ul li:hover > ul,
nav ul li:focus > ul,
nav ul li ul:focus,
nav ul li ul:hover{
    opacity: 1;
    display: block;
}

nav ul li ul li {
    clear: both;
    width: 100%;
    animation: animate 800ms forwards ease;
}

nav ul li ul li:nth-last-of-type(1){
    transform-origin: top left;
    transform: skew(45deg) scaleY(0);
}

nav ul li ul li:nth-last-of-type(2){
    transform-origin: top right;
    transform: skew(45deg) scaleY(0);
    animation-delay: 150ms;
}

nav ul li ul li:nth-last-of-type(3){
    transform-origin: top right;
    transform: skew(45deg) scaleY(0);
    animation-delay: 300ms;
}

nav ul li ul li:nth-last-of-type(4){
    transform-origin: top right;
    transform: skew(45deg) scaleY(0);
    animation-delay: 450ms;
}
nav ul li ul li:nth-last-of-type(5){
    transform-origin: top right;
    transform: skew(45deg) scaleY(0);
    animation-delay: 600ms;
}

@keyframes animate {
    to{
        transform: skewX(0deg) scaleY(1);
    }
}


/*PAGE 2*/

.known2 {
    text-align: center;
    border-bottom: 1px solid;
}

#home{
    /*text-decoration: none;*/
    position: fixed;
    left: 17%;
    bottom: 88.5%;
    color: darkturquoise;
    text-decoration-color: darkviolet;

}
h4{
    height: 49px;
}
h1{
    color: darkturquoise;
    text-decoration-color: darkviolet;

}

#left {
    text-align: left;
}

#lang {
    text-align: center;
    font-size: xx-large;
    margin: 20px;
    position: relative;
    color: darkturquoise;
    text-decoration-color: darkviolet;

}

#hed {
    position: fixed;
    left: 35%;
    bottom: 89%;
    width: 100%;
    color: darkturquoise;
    text-decoration-color: darkviolet;

}

#proj{
    color: darkturquoise;
    text-decoration-color: darkviolet;

}