html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    margin: 0;
    height: 100%;
}
/**{*/
/*    border: 1px solid black;*/
/*}*/


#container{
    display: grid;
    grid-template-columns: 1fr 2fr;

    text-align: center;
    height: 100%;
    background-color: #303030;
    color: 	aliceblue;
    font-family: sans-serif;
}
#Title{
    height: 17px;
    background-color: #202020;

}
#hed1{
    background-color: #202020;
    height: 32%;
    text-align: left;
    grid-column: 1/3;
    font-family: initial;
}
#pic{
    grid-row: 2;
    grid-column: 1;

}
#content{
    display: grid;
    grid-row: 2/4;
    border-bottom: inset;
    /*width: 100%;*/
    /*margin: 40px;*/
    margin: inherit;

}
img{
    border-radius: 50%;
    width: 50%;
    margin-top: 50px;
}
#foot{
    grid-column: 1/3;
    /*max-height: 28%;*/
    /*-webkit-text-emphasis-style: double-circle;*/
    /*background-color: #535353;*/
}

#aboutMe{
    height: auto;
    width: auto;
    margin: 30px;
    grid-row: 3;
}
p{
    margin: auto;
    height: auto;
    width: auto;
    text-align: left;

}

#Frameworks{
    grid-column: 1;
    /*display: inline-block*/
    border: 1px solid;
    margin: inherit;
    text-align: center;
    padding: 42px;
}


#Projects{
    grid-column: 1;
    /*display: inline-block*/
    border: 1px solid;
    margin: inherit;
    padding: 35px;
}

#Education {
    grid-column: 1;
    border: 1px solid;
    margin: inherit;
    padding: 7%;
}

#Resume{
    grid-column: 1;
    border: 1px solid;
    padding: 23px;
}

#Reflections{
    grid-column: 1;
    border: 1px solid;
    padding: 46px;
}

#Contact{
    grid-column: 1;
}

a{
    grid-column: 2;
}

#section{
    grid-column:2;
    border: 1px;
    text-align: left;
}

#project{
    width: 20%;
    margin: 1%;
    grid-column: 2;
}

#showH{
    width: 20%;
    margin: 1%;
    grid-column: 2;
}


#ht{
    /*display:inline-block;*/
    width: 50px;
}
#python{
    width: 40px;
}

#cs{
    width: 50px;
}

#js{
    width: 50px;
}
#profile{
    border-radius: 50%;
    width: 50%;
    margin: 30px
}

#section{
    text-align: left;
}

h1{
    text-align: left;
    font-family: 'Lilita One', cursive;
    font-size: 28px;
}

#abtme{
    text-align: left;
    font-family: sans-serif;
}

#touch{
    grid-column: 1;
    padding: 5px;
}


#resume1{
    grid-column: 2;
    margin-top: inherit;
    text-align: inherit;
    color: currentColor;
    padding: 3%;
}

#touch{
    grid-column: 2;
    color: currentColor;
}

#git{
    color: currentColor;
}

#view{
    color: currentColor;
}

