html, body {
    height: 100%;
    /*background-color: #fcf6f5;*/

    /*position: relative;*/
    font-family: 'Alata', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 5px;
    padding: 0;
    /*background-color: whitesmoke;*/
    background: linear-gradient(-45deg, #eeffee,  whitesmoke, antiquewhite);
    background-size: 700% 700%;
    position: relative;
    animation: change 30s ease-in-out infinite;
}
@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
/**{*/
/*    border: 1px solid;*/
/*}*/

/*body{*/
/*    height: 100%;*/
/*    margin: auto;*/
/*}*/

#container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    margin: auto;
}

.container_class {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    margin: auto;
}

#a {
    grid-row: 1;
    height: 765px;
}

/*#btn-posit{*/
/*    position: absolute;*/
/*    top: 5%;*/
/*    left: 25%;*/
/*}*/

.a_class {
    grid-row: 1;
}

#b {
    grid-row: 2;
    margin: 3px;
    display: inline-block;
    height: 833px;
    width: 100%;
}

#c {
    grid-row: 3;
    text-align: center;
    width: 100%;
    height: 900px
}

#d {
    grid-row: 4;
    text-align: center;
}

#e {
    grid-row: 5;
    text-align: center;
    height: fit-content;
    width: 100%;
    margin-top: 0px

}

.comp_skills {
    color: black;
}


.b_class {
    margin: 10px;
    grid-row: 2;
    font-size: unset;
    display: contents

}

#name {
    text-align: center;
    width: 100%;
    font-family: 'Alata', sans-serif;
    font-size: 5vw;
    /* color: darkolivegreen; */
    color: darkcyan;
    margin-left: 5px;
    text-shadow: 6px 3px 1px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    /*font-size: 72px;*/
    /*background: -webkit-linear-gradient(#333, darkcyan);*/
    background: -webkit-linear-gradient(#2d1f1f, dimgray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*#name:before{*/
/*    content: "";*/
/*    display: block;*/
/*    height: 2px;*/
/*    background: #000;*/
/*    position: absolute;*/
/*    left: 0%;*/
/*    width: 31%;*/
/*    bottom: 53%;*/
/*}*/
/*#name:after{*/
/*    content: "";*/
/*    display: block;*/
/*    height: 2px;*/
/*    background: #000;*/
/*    position: absolute;*/
/*    right: 0%;*/
/*    width: 30%;*/
/*    bottom: 53%;*/
/*}*/
#btn-posit {
    margin: 1px;
}

/*#here{*/
/*    border-radius: 6%;*/
/*    padding: 25px;*/
/*    background-color: rgb(194,224,251);*/
/*    border: 1px solid rgba(1,0,0,0.3);*/
/*    font-size: larger;*/
/*}*/
.myButton {
    box-shadow: 5px 0px 14px -24px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #77a8b0 100%);
    background-color:#599bb3;
    border-radius:42px;
    border:4px solid #29668f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding:16px 31px;
    text-decoration:none;
    width: 18%;
}
.myButton:hover {
    background:linear-gradient(to bottom, #77a8b0 5%, #599bb3 100%);
    background-color:#77a8b0;
}
.myButton:active {
    position:relative;
    top:1px;
}


.b-div {
    font-size: x-large;
}

#move_list {
    position: absolute;
    top: 36%;
    margin: 5px;
}

.home {
    font-weight: lighter;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: larger;
    text-decoration: none

}

#home {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

#skills {
    font-weight: lighter;
    font-size: 2em;
}

#projects {
    font-weight: lighter;
    color: #110a0a;
}

#rumy_proj_title {
    border: 1px solid;
    width: 50%;
    /* position: absolute; */
    /* right: 45%; */
    border-radius: 8px;
    /* height: 70%; */
    word-spacing: 10px;
    margin: 5px
}

#djang_proj {
    border: 1px solid;
    width: 50%;
    /* position: absolute; */
    /* right: 45%; */
    border-radius: 8px;
    height: 23%;
    word-spacing: 10px;
    margin: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#vid_proj {
    border: 1px solid;
    width: 50%;
    /* position: absolute; */
    /* right: 45%; */
    border-radius: 8px;
    height: 23%;
    word-spacing: 10px;
    margin: 5px;
    margin-top: 2%;
}

#brain_proj {
    border: 1px solid;
    width: 50%;
    /* position: absolute; */
    /* right: 45%; */
    border-radius: 8px;
    height: 23%;
    word-spacing: 10px;
    margin: 5px;
    margin-top: 2%;
}

#resume {
    font-weight: lighter;
    color: #110a0a;
}

#about {
    font-weight: lighter;
    color: #110a0a;
}

#book {
    position: absolute;
    top: 98%;
    font-size: medium;
    text-decoration: inherit;
}

/*h1.example{*/
/*    animation-duration: 0.5s;*/
/*}*/
#about-me {
    font-weight: lighter;
    animation-duration: 2s;
    animation-delay: 1s;
    font-size: 3.5em;
    margin-left: 25px;
    /* color: darkolivegreen; */
    color: dimgray;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#my_skills {
    font-weight: lighter;
    animation-duration: 2s;
    animation-delay: 1s;
    font-size: -webkit-xxx-large;
    margin: 10px;
}

#content_box {
    text-align: right;
    letter-spacing: 4px;
    word-spacing: 7px;
    animation-delay: 1s;
    font-weight: lighter;
    font-size: 2.68em;
    font-family: 'Roboto', sans-serif;
    margin: 25px;
}


#resume-text {
    text-decoration: underline;
    color: #080000
}

h5 {
    font-weight: 100;
    text-decoration: none;
    font-size: larger;
}


footer {
    position: fixed;
    left: 0;
    bottom: 60px;
    width: 100%;
    /* background-color: red; */
    /* color: white; */
    text-align: center;
    border-bottom: 1px solid;
    border-bottom-width: 2px;
    font-size: x-large;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* background-color: red; */
    /* color: white; */
    text-align: center;
    border-bottom: 1px solid;
    border-bottom-width: 2px;
}

/*#linked {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    margin: 10px;*/
/*    font-size: larger;;*/
/*}*/

#email {
    position: fixed;
    right: 0.5%;
    bottom: 1%;
    width: 100%;
    text-align: end;
    margin: 10px;
    font-size: larger;;
}

p {
    font-size: x-large;
}

#my_pr {
    font-size: 2.8em;
    font-weight: lighter;
    text-align: left;
    margin-left: 25px;
    color: dimgray;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#contact {
    font-size: -webkit-xxx-large;
    font-weight: 100;
    text-align: center;
    color: dimgray;

}

nav {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background: #333;*/
}

li {
    display: inline-block;
    padding: 5px;
    margin-top: -80px
}

a {
    padding: 8px;
    text-decoration: none;
    background-color: transparent;
    color: dimgray;
}

li h5 {
    display: block;
    /*color: darkolivegreen;*/
    color: dimgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
}

li h5:hover {
    color: #9fbed2
}

a:hover {
    color: #9fbed2
}

#android {
    border-radius: 10px;
}

.card {
    box-shadow: 10px 12px 10px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    width: 30%;
    margin: 25px 25px 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /*content: attr(data-hover);*/
    font-size: 24px;


}
.card:hover:after{
    content: attr(data-hover);
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
}

.card_container {
    padding: 2px 16px;

}
img{
    border-radius: 10px;
}
/*#c{*/
/*grid-row: 3;*/
/*}*/